BASE_URL=http://10.0.2.2:7017
BRIDGE_URL=http://10.0.2.2:8000
SECRET_KEY=your_secret_key_here
ANDROID_CLIENT_ID=your_android_client_id_here.apps.googleusercontent.com
WEB_CLIENT_ID=your_web_client_id_here.apps.googleusercontent.com
